* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 600px;
  margin: 50px auto;
  background: white;
  padding: 20px;
  border-radius: 8px;
  
}
.container:hover{
    box-shadow: 0px 0px 20px rgb(249, 100, 219);
}


h1 {
  text-align: center;
}

.subtitle {
  text-align: center;
  color: #555;
  font-size: 14px;
}

.input-section {
  display: flex;
  gap: 10px;
  margin: 20px 0;
}

input {
  flex: 1;
  padding: 10px;
  border-radius: 5px;

}

button {
  padding: 10px 15px;
  background-color: #1aa363;
  color: white;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #128870;
  box-shadow: 0px 0px 20px rgb(16, 207, 213);
}

.recipes {
  margin-top: 20px;
}

.recipe-card {
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.recipe-card h3 {
  margin: 0 0 5px;
}
